.wordPreviewContainer {
    width: 100%;
    height: 100%;
    overflow: auto;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

div[class="fortune-col-header-wrap"] {
    display: none;
}

.loading {
    padding: 20px;
}

.error {
    padding: 20px;
    color: red;
}

.contentContainer {
    padding: 20px;
    min-height: 100%;
}